.releases-update {
    &__title {
        text-align: center;
    }
    &__container-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__card {
        border: 1px solid grey;
        padding: 1rem;
        text-align: center;
        margin: 1rem;
    }
    &__button {
        margin-top: 20px;
    }
}
