.home {
    &__title {
        text-align: center;
        padding-bottom: 30px;
    }
    &__photos {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &__news-listPhoto {
        display: flex;
        justify-content: space-around;
       padding-bottom: 50px;
        
        }
    
    &__news-photo {
        width: 200px;
        height: 200px;
        border-radius: 25%;
        margin-bottom: 10px;
        }
        
}