.header {
    &__eCommercePage {
    padding: 0;
    color: grey;
    }

    &__eCommercePage-title {
    margin: 13px;
    font-size: 50px;
    
   }
}
.menu-nav {
    &__menu {
        background-color: gainsboro;
        font-size: 20px;
    }
}
